<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  {{block 'head'}}{{/block}}
</head>
<body>
{{ include '../components/head.html' }}
{{ block 'content' }} {{ /block }}
{{ include '../components/foot.html' }}
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
{{block 'script'}} {{/block}}
</body>
</html>